body{background-color: #00ffff40;}
.content{height: 560px;width: 80%;margin: 0 10%;background-image: url(../images/hobby1.png);box-shadow: 17px 15px 0px 0px #0000ff52;border-left: 5px outset #4bdc39;border-top: 5px outset #4bdc39;border-right: 2px outset;border-bottom: 2px outset;}
.content1{ width: 30%;height: 200px;float: left;margin: 60px 2% 20px 18%; }
.content2{ width: 30%;height: 200px;float: left;margin: 60px 18% 20px 2%;}
.content3{ width: 30%;height: 200px;float: left;margin-left: 20%;margin: 20px 2% 60px 18%;}
.content4{ width: 30%;height: 200px;float: left;margin:20px 18% 60px 2%;}
/*img{ border: solid 4px #03a9f4;}
img:hover{   border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;}*/
        img{ border: solid 1px #03a9f4;}
        img:hover{  border: solid 4px #03a9f4;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 5px 0px 15px #03a9f4;}
p{text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: #1d1a1a;
    background: #ffffff7d;}
h1{color: #2582be;text-align: center;margin: auto;font-style: oblique;font-family: cursive;	}
h1:hover{color: red;}